/*--------------------------------
      DataTable
--------------------------------*/

#order_history_paginate .menu {
	padding-top: 0px;
}

#order_history_wrapper {
	padding: 10px;
}

div.dt-buttons {
	width: 100%;
	clear: both;
}

.ui.basic.buttons .button {
    background: #c8e4ff !important;
    margin: 5px;
    border: 0;
    border-radius: 5px;
}

#order_history_length {
	float: left;
	padding: 10px 0px;
}

#order_history_filter {
	float: right;
	padding: 10px 0px;
}